@charset "UTF -8";@charset "UTF-8";

/****************** Breakpoints ******************/

/* Smartphone Portrait >>>>*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

/* Smartphone Landscape >>>>*/
@media (min-width: 576px) {
    body {
        background-color: rgb(155, 224, 35);
    }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

/* Tablet Portrait >>>>>*/
@media (min-width: 768px) {
    body {
        background-color: rgb(35, 48, 224);
    }
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

/* Tablet Landscape >>>>>*/
@media (min-width: 992px) {
    body {
        background-color: rgb(57, 66, 184);
    }
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

/* PCs / Notebooks >>>>>*/
@media (min-width: 1200px) {
    body {
        background-color: rgb(57, 184, 174);
        color:black
    }

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

/* Telas FullHD / 4k / SmartTVs >>>>>*/
@media (min-width: 1200px) {
    body {
        background-color: rgb(57, 184, 174);
        color:black
    }

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>